.footer-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .footer-rights {
    margin-left: 1.5rem;
  }
  
  .footer-creator {
    margin-right: 1.5rem;
  }
  