@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*///////////////////////////////////
Base 
*/

:root {
  --color-primary-first : rgb(255, 239, 186);
  --color-primary-second : rgb(255, 255, 255);
 
  --color-font-first : #a9aaab;
  --color-font-second : #202124;

  --box-shadow : 0 1rem 2rem rgba(0, 0, 0, .2);
  --border : 1px solid var(--color-font-first);

  --color-facebook : #1877F2;
  --color-twitter : #1A91DA;
  --color-instagram : #8a3ab9;
  --color-linkidin : #0A66C2;
  --color-github : #4078c0;
  --color-behance : #1769ff;

  
  
  --gradient-1 : linear-gradient(to right top, #8048a3, #964da8, #ac52ac, #c157af, #d65db1);
  --gradient-2 : linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  --gradient-3 : linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  --gradient-4 : linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;   
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: var(--gradient-1);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-font-second);

  

  min-height: 100vh;
}

/*///////////////////////////////////
Layout
*/

.main-container {
  display: flex;
  margin: 8rem auto;

  width: 80%;
  height: 100rem; /*temporary, untill we add content inside of it */

  overflow: hidden;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  font-size: 3rem;
}

.side-portion {
  background-color: #f0ebcc;
  flex : 0 0 33%;

  border-right: var(--border)
}

.main-portion {
  background-color: #fff;
  flex : 1;
}

/*///////////////////////////////////
Navbar
*/

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-navbar {
  list-style: none;
}

/* the resume navbar item is a last child of the anchor link 
that's why we exclude it, as we want the projects  div only*/
.navbar-item:not(:last-child:not(.navbar-item-resume)) {
  margin-bottom: 4rem;
}

/* the resume navbar item is a first child of the anchor link 
that's why we exclude it, as we want the about me div only*/
.navbar-item:first-child:not(.navbar-item-resume) {
  margin-top: 8rem;
}

.navbar-resume-link {
  text-decoration: none;
  color: currentColor;

  
}

.navbar-item {
  font-size: 4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  position: relative;
  padding : 2rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  transition: all .5s;
}

.navbar-item::before {
  content: "";
  position: absolute;
  height: .5rem;
  background-color: red;
  z-index: 5;
  top : 80%;
}

.navbar-item:hover::before {
  animation: width-slide 1s;
  animation-fill-mode: forwards;
}

.navbar-item:hover {
  transform: translateX(1rem);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes width-slide {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.navbar-item-about:hover {
  background-image: var(--gradient-1);
}
.navbar-item-about:hover::before {
  background-image: var(--gradient-1);
}

.navbar-item-contact:hover {
  background-image: var(--gradient-2);
}

.navbar-item-contact:hover::before {
  background-image: var(--gradient-2);
}

.navbar-item-resume:hover {
  background-image: var(--gradient-3);
}

.navbar-item-resume:hover::before {
  background-image: var(--gradient-3);
}

.navbar-item-projects:hover {
  background-image: var(--gradient-4);
}

.navbar-item-projects:hover::before {
  background-image: var(--gradient-4);
}

.navbar-social {
  margin-bottom: 2.5rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-social-text {
  font-size: 2rem;
}

.navbar-social-icons-container {
  display: flex;
  align-items: center;
}

.navbar-social-icons-container a:visited {
  color : currentColor;
}

.navbar-social-icons-container div {
  cursor: pointer;
  transition: all .3s;
}


.navbar-social-icons-container div:hover {
  transform: translateY(2px);
}

.navbar-social-icon-facebook:hover {
  color: var(--color-facebook);
}

.navbar-social-icon-twitter:hover {
  color: var(--color-twitter);
}

.navbar-social-icon-linkidin:hover {
  color: var(--color-linkidin);
}

.navbar-social-icon-github:hover {
  color: var(--color-github);
}

.navbar-social-icon-instagram:hover {
  color: var(--color-instagram);
}

.navbar-social-icon-behance:hover {
  color: var(--color-behance);
}

.navbar-social-icon-behance {
  margin-left: .3rem;
}


